@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\000032}}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\000038}}
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000312}}
  *:focus {
    outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000315}}
*::-webkit-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000319}}
*:-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000323}}
*::-moz-placeholder {
  color: #c0c0c0;
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000327}}
*:-ms-input-placeholder {
  color: #c0c0c0;
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000331}}
body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000334}}
body input:required:valid,
body textarea:required:valid {
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000338}}
html, body {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000341}}
body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000350}}
img {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000353}}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000358}}
section {
  padding: 100px 0;
  background-color: #b6b6b6; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000362}}
#header {
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000368}}
  #header .inner_header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000372}}
    #header .inner_header .logo {
      display: block;
      width: 164px;
      height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000376}}
      #header .inner_header .logo > img {
        width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000378}}
    #header .inner_header .right_side_header {
      display: flex;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000381}}
      #header .inner_header .right_side_header .btn_simple {
        padding: 10px 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000383}}
      #header .inner_header .right_side_header .mnu_top {
        list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000385}}
        #header .inner_header .right_side_header .mnu_top > li {
          display: inline-block;
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000388}}
          #header .inner_header .right_side_header .mnu_top > li a {
            display: inline-block;
            text-decoration: none;
            font-weight: 500;
            color: #000;
            transirion: color 0.4s ease;
            padding: 5px 40px 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000395}}
            #header .inner_header .right_side_header .mnu_top > li a:hover {
              color: #FEC110; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\0000397}}
          #header .inner_header .right_side_header .mnu_top > li > .sub_menu {
            position: absolute;
            top: 35px;
            background-color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
            z-index: 10;
            padding: 5px 0;
            border-radius: 5px;
            animation: 0.6s opac;
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003107}}
            #header .inner_header .right_side_header .mnu_top > li > .sub_menu > li {
              display: block;
              padding: 3px 10px;
              font-size: 14pxf; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003112}}
          #header .inner_header .right_side_header .mnu_top > li.has_sub_menu:hover > .sub_menu {
            display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003114}}
          #header .inner_header .right_side_header .mnu_top > li.has_sub_menu::after {
            content: "";
            display: block;
            width: 18px;
            height: 14px;
            background-image: url("../img/header/arrow-down.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 10px;
            right: 20px; }

@keyframes opac {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003134}}
h1, h2, h3, h4 {
  line-height: 1.3; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003138}}
#top_banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003145}}
.btn_simple {
  color: #2C2C2C;
  background-color: #FEC110;
  border: 1px solid #FEC110;
  font-weight: 600;
  padding: 15px 34px;
  transition: all 0.4s ease;
  text-decoration: none;
  border-radius: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003154}}
  .btn_simple:hover {
    color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003157}}
.btn {
  color: #fff;
  background-color: #FEC110;
  padding: 14px 40px;
  transition: all 0.4s ease;
  text-decoration: none;
  border-radius: 24px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003165}}
  .btn:hover {
    background-color: #fff;
    color: #111; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003168}}
  .btn.btn_white {
    background-color: #fff;
    color: #111; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003171}}
    .btn.btn_white:hover {
      color: #fff;
      background-color: #FEC110; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003179}}
.itc-slider {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003182}}
.itc-slider__wrapper {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003185}}
.itc-slider__items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003190}}
.itc-slider__transition-none {
  transition: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003193}}
.itc-slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none; }

/* кнопки влево и вправо */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003199}}
.itc-slider__btn {
  position: absolute;
  top: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 50%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003209}}
.itc-slider__btn_hide {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003211}}
.itc-slider__btn_prev {
  left: 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003213}}
.itc-slider__btn_next {
  left: 15%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003216}}
.itc-slider__btn:hover,
.itc-slider__btn:focus {
  color: #fff;
  text-decoration: none;
  outline: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003222}}
.itc-slider__btn::before {
  border-radius: 50%;
  padding: 25px;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: #FEC110; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003232}}
.itc-slider__btn_prev::before {
  background-image: url("../img/slider/arrow-left.svg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003234}}
.itc-slider__btn_next::before {
  background-image: url("../img/slider/arrow-right.png"); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003239}}
#main_banner {
  background-color: #313232;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003242}}
  #main_banner .row {
    padding-top: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003244}}
  #main_banner .mb_info {
    padding-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003246}}
    #main_banner .mb_info > .notif p {
      color: #FFFFFF;
      font-size: 41px;
      font-weight: 400;
      line-height: 1.3;
      padding-top: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003252}}
    #main_banner .mb_info > h1 {
      color: #FEC110;
      font-size: 48px;
      font-weight: 400;
      margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003257}}
    #main_banner .mb_info > .descr {
      color: #8989a2;
      margin: 40px 0;
      font-size: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003261}}
      #main_banner .mb_info > .descr > .work {
        color: #989898;
        font-size: 16px;
        font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003265}}
      #main_banner .mb_info > .descr > .time {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003270}}
    #main_banner .mb_info > .btns {
      display: flex;
      align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003273}}
      #main_banner .mb_info > .btns .btn_simple {
        margin-bottom: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003277}}
#advantages .line {
  height: 1px;
  width: 100%;
  background-color: #989898;
  margin: 56px 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003282}}
#advantages .notif {
  margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003284}}
  #advantages .notif > p {
    font-size: 12px;
    font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003287}}
  #advantages .notif img {
    width: 26px;
    height: auto;
    margin-right: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003291}}
#advantages .heading_main {
  max-width: 500px;
  margin: 32px auto 48px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003294}}
#advantages h2 {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003299}}
#advantages .description {
  text-align: center;
  font-size: 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003303}}
#advantages .row_adv .item_adv {
  background-color: #b6b6b6; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003305}}
  #advantages .row_adv .item_adv > img {
    width: 40px;
    height: 40px;
    border-radius: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003309}}
  #advantages .row_adv .item_adv > .heading {
    color: #FEC110;
    font-size: 70px;
    font-weight: 400;
    margin: 24px 0 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003314}}
  #advantages .row_adv .item_adv > .descr {
    margin-top: 45px;
    color: #2C2C2C;
    font-weight: 400;
    font-size: 20px;
    max-width: 650px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003320}}
.img-responsive {
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003325}}
#services .notif > p {
  font-size: 64px;
  font-weight: 400;
  margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003329}}
#services .item_adv {
  padding-bottom: 20px;
  padding-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003332}}
  #services .item_adv > img {
    max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003334}}
  #services .item_adv .items {
    background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003336}}
  #services .item_adv .item_btn {
    background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003339}}
  #services .item_adv:hover .items {
    background-color: #FEC110;
    transition: all 0.4s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003342}}
    #services .item_adv:hover .items .descr {
      color: #FFFFFF;
      transition: all 0.4s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003345}}
  #services .item_adv:hover .item_btn {
    background-color: #FEC110;
    transition: all 0.4s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003348}}
    #services .item_adv:hover .item_btn .btn_simple {
      background-color: #2C2C2C;
      background-image: url("../img/services/white_arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.4s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003355}}
#services .heading {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003360}}
#services .descr {
  margin-left: 40px;
  margin-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003363}}
#services .item_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003367}}
  #services .item_btn .btn_simple {
    border-radius: 50%;
    padding: 20px;
    margin-right: 40px;
    content: "";
    background-image: url("../img/services/right_arrow.svg");
    background-repeat: no-repeat;
    background-position: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003376}}
#certificate {
  padding-top: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003378}}
  #certificate .heading {
    font-size: 25px;
    font-weight: 400;
    color: #2C2C2C;
    line-height: 1.2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003383}}
  #certificate .descr {
    font-size: 16px;
    font-weight: 400;
    color: #2C2C2C;
    margin-top: 30px;
    max-width: 420px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003389}}
  #certificate .img_cert {
    padding: 0 40px 40px 0;
    max-width: 260px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003392}}
    #certificate .img_cert > p {
      font-size: 21px;
      font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003396}}
#logotype {
  background-color: #b6b6b6; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003398}}
  #logotype .notif {
    color: #989898;
    font-size: 12px;
    font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003403}}
  #logotype .logo {
    display: flex;
    margin-top: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003406}}
    #logotype .logo .circles {
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 50%;
      position: relative;
      margin-right: -10px;
      display: flex;
      justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003414}}
      #logotype .logo .circles .circle {
        height: 12em;
        width: 12em;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: grayscale(100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003424}}
#sales .notif > p {
  font-size: 64px;
  font-weight: 400;
  margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003428}}
#sales .header {
  max-width: 420px;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.2; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003433}}
#sales .descr {
  font-size: 16px;
  font-weight: 400;
  padding: 15px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003437}}
#sales .link {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003441}}
  #sales .link .btn_simple {
    border-radius: 50%;
    padding: 20px;
    content: "";
    background-image: url("../img/services/right_arrow.svg");
    background-repeat: no-repeat;
    background-position: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003448}}
  #sales .link .prev {
    margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003451}}
#sales .slider .itc-slider__btn {
  border-radius: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003453}}
#sales .slider .itc-slider__btn_prev {
  left: 69%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003455}}
#sales .slider .itc-slider__btn_next {
  left: 74%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003458}}
#sales .slider .itc-slider .itc-slider__btn::before {
  background-color: transparent;
  border: 1px solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003461}}
#sales .slider .itc-slider .itc-slider__btn:hover {
  background-color: #c3c1c1;
  transition: all 0.4s ease;
  filter: invert(1); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003465}}
#reviews {
  background-color: #313232; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003467}}
  #reviews .header {
    color: #fff;
    font-size: 45px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003470}}
  #reviews .rate {
    color: #FEC110;
    font-size: 45px;
    display: flex;
    justify-content: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003475}}
  #reviews .averange {
    color: #989898;
    margin-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003478}}
  #reviews .line {
    height: 1px;
    width: 100%;
    background-color: #989898;
    margin: 56px 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003483}}
  #reviews .clients {
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003485}}
    #reviews .clients .client__img {
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      width: 65px;
      height: 65px;
      margin-left: 40%;
      background-color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003496}}
      #reviews .clients .client__img > img {
        max-width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003498}}
    #reviews .clients .client {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      margin-left: 10px;
      line-height: 1.3; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003504}}
      #reviews .clients .client .header {
        font-size: 20px;
        font-weight: 400;
        color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003508}}
      #reviews .clients .client .descr {
        font-size: 14px;
        color: #fff;
        font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003512}}
  #reviews .review {
    margin-left: 40%;
    color: #fff;
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003517}}
  #reviews .slider .itc-slider__btn {
    top: 2%;
    border-radius: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003520}}
  #reviews .slider .itc-slider__btn_prev {
    left: 87%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003522}}
  #reviews .slider .itc-slider__btn_next {
    left: 92%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003525}}
  #reviews .slider .itc-slider .itc-slider__btn::before {
    background-color: transparent;
    border: 1px solid; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003528}}
  #reviews .slider .itc-slider .itc-slider__btn:hover {
    background-color: #fff;
    transition: all 0.4s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003534}}
.stars {
  overflow: hidden;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003538}}
.stars:not(:checked) > input {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003541}}
.stars:not(:checked) > label {
  float: right;
  padding: 0;
  font-size: 26px;
  color: lightgrey;
  text-shadow: 1px 1px #bbb; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003548}}
.stars:not(:checked) > label:before {
  content: "★"; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003551}}
.stars > input:checked ~ label {
  color: gold;
  text-shadow: 1px 1px #c60; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003557}}
#map {
  background: linear-gradient(to bottom, #313232 57%, #FFFFFF 43%);
  padding: 0 0 100 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003560}}
  #map .maps {
    display: flex;
    flex-direction: row; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003563}}
    #map .maps .map_left {
      width: 40%;
      background-color: #313232; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003566}}
      #map .maps .map_left .map_text {
        margin-left: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003568}}
        #map .maps .map_left .map_text .header {
          margin-top: 30px;
          font-size: 16px;
          font-weight: 400;
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003573}}
        #map .maps .map_left .map_text .mail {
          margin-top: 20px;
          font-size: 16px;
          font-weight: 400;
          color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003579}}
          #map .maps .map_left .map_text .mail > p > a {
            text-decoration: none;
            color: #FEC110; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003582}}
        #map .maps .map_left .map_text .btn_simple {
          margin: 20px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003584}}
          #map .maps .map_left .map_text .btn_simple > img {
            margin-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003586}}
    #map .maps .map_right {
      width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003588}}
    #map .maps #YMapsID {
      -webkit-filter: grayscale(100%); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003591}}
#consultation {
  background-image: url(../img/bg_consultation.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003596}}
  #consultation .line {
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 56px 0 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003601}}
  #consultation .notif {
    margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003603}}
    #consultation .notif > p {
      font-size: 12px;
      color: #fff;
      font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003607}}
  #consultation .descr {
    margin-left: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003609}}
    #consultation .descr > div {
      font-size: 23px;
      font-weight: 400;
      line-height: 1.3;
      margin-top: 65px;
      color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003615}}
    #consultation .descr .btn_simple {
      margin-top: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003617}}
      #consultation .descr .btn_simple > img {
        margin-left: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003620}}
#advertisement {
  background-color: #FEC110;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003623}}
  #advertisement .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003627}}
    #advertisement .container > img {
      margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003629}}
    #advertisement .container .mobile_adv {
      margin-top: 31px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003631}}
      #advertisement .container .mobile_adv > p {
        font-size: 21px;
        font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003634}}
      #advertisement .container .mobile_adv > ul {
        list-style: none;
        margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003637}}
        #advertisement .container .mobile_adv > ul > li {
          padding-left: 20px;
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003640}}
        #advertisement .container .mobile_adv > ul > li:before {
          content: "✔";
          position: absolute;
          top: 0;
          left: 0;
          color: #2C2C2C; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003646}}
    #advertisement .container .link_adv {
      display: flex;
      justify-content: center;
      align-items: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003651}}
#footer {
  background-color: #313232;
  padding: 60px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003654}}
  #footer .row_flex {
    display: flex;
    flex-wrap: wrap; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003657}}
    #footer .row_flex .col_footer_1 {
      width: 35%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003659}}
    #footer .row_flex .col_footer_2 {
      width: 63%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003662}}
  #footer .mail_info > a {
    display: block;
    margin-bottom: 25px;
    color: #FEC110; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003666}}
  #footer .mail_info > .descr {
    font-size: 12px;
    color: #989898;
    max-width: 184px;
    line-height: 1.65; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003671}}
  #footer .mail_info .btn_simple {
    width: 220px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003673}}
  #footer .mail_info .btn_simple_yellow {
    margin-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003675}}
    #footer .mail_info .btn_simple_yellow:hover {
      background-color: #fff;
      color: #313232;
      border: 1px solid #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003679}}
  #footer .mail_info .btn_simple_gray {
    margin-top: 5px;
    background-color: transparent;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003683}}
    #footer .mail_info .btn_simple_gray:hover {
      background-color: #fff;
      border: 1px solid #fff;
      color: #313232; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003688}}
  #footer .mnu_footer .heading {
    display: flex; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003690}}
    #footer .mnu_footer .heading .right_side_heading {
      padding: 5px 0 5px 60px;
      color: #FFFFFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003693}}
    #footer .mnu_footer .heading > ul {
      list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003695}}
      #footer .mnu_footer .heading > ul > li {
        display: inline-block;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003698}}
        #footer .mnu_footer .heading > ul > li a {
          display: inline-block;
          text-decoration: none;
          font-weight: 500;
          color: #FFFFFF;
          transirion: color 0.4s ease;
          padding: 5px 30px 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003705}}
          #footer .mnu_footer .heading > ul > li a:hover {
            color: #FEC110; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003707}}
  #footer .right_side_footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003711}}
    #footer .right_side_footer .mnu_footer {
      width: 300px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003713}}
      #footer .right_side_footer .mnu_footer .heading {
        color: #989898; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003715}}
      #footer .right_side_footer .mnu_footer .line {
        height: 1px;
        width: 100%;
        background-color: #989898;
        margin: 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003720}}
      #footer .right_side_footer .mnu_footer > ul {
        list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003722}}
        #footer .right_side_footer .mnu_footer > ul > li {
          position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003724}}
          #footer .right_side_footer .mnu_footer > ul > li > a {
            text-decoration: none;
            font-weight: 500;
            color: #FFFFFF;
            transirion: color 0.4s ease;
            padding: 5px 30px 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003730}}
            #footer .right_side_footer .mnu_footer > ul > li > a span {
              position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003732}}
              #footer .right_side_footer .mnu_footer > ul > li > a span:after {
                display: block;
                position: absolute;
                left: 0;
                width: 0;
                top: 100%;
                height: 2px;
                background-color: #ffb341;
                content: "";
                transition: width 0.3s ease-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003742}}
              #footer .right_side_footer .mnu_footer > ul > li > a span:hover::after {
                width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003744}}
  #footer .contact_wrapper {
    display: flex;
    margin-top: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003747}}
    #footer .contact_wrapper .col_post_footer_1 {
      width: 35%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003749}}
      #footer .contact_wrapper .col_post_footer_1 .social {
        list-style-type: none;
        margin: 0 auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003752}}
        #footer .contact_wrapper .col_post_footer_1 .social > li {
          display: inline-block;
          margin-right: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003755}}
          #footer .contact_wrapper .col_post_footer_1 .social > li > a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            height: 60px;
            width: 60px;
            border: 1px solid #fff;
            border-radius: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003764}}
            #footer .contact_wrapper .col_post_footer_1 .social > li > a:hover {
              background-color: #fff;
              transition: all 0.4s ease; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003767}}
            #footer .contact_wrapper .col_post_footer_1 .social > li > a > img {
              filter: invert(1);
              width: 24px;
              height: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003771}}
            #footer .contact_wrapper .col_post_footer_1 .social > li > a:hover > img {
              filter: grayscale(0); }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003773}}
          #footer .contact_wrapper .col_post_footer_1 .social > li:last-child {
            margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003775}}
    #footer .contact_wrapper .rigth_side_post_footer {
      display: flex;
      justify-content: space-between;
      width: 65%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003780}}
      #footer .contact_wrapper .rigth_side_post_footer .col_post_footer_2 .header {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003784}}
      #footer .contact_wrapper .rigth_side_post_footer .col_post_footer_2 .descr {
        font-size: 14px;
        font-weight: 400;
        color: #989898; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003788}}
      #footer .contact_wrapper .rigth_side_post_footer .col_post_footer_2 .phone {
        font-size: 14px;
        font-weight: 400;
        color: #989898; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003793}}
      #footer .contact_wrapper .rigth_side_post_footer .col_post_footer_3 .header {
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003797}}
      #footer .contact_wrapper .rigth_side_post_footer .col_post_footer_3 .descr {
        font-size: 14px;
        font-weight: 400;
        color: #989898; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003801}}
      #footer .contact_wrapper .rigth_side_post_footer .col_post_footer_3 .phone {
        font-size: 14px;
        font-weight: 400;
        color: #989898; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003805}}
  #footer .line {
    height: 1px;
    width: 100%;
    background-color: #989898;
    margin: 40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003810}}
  #footer .copyright {
    display: flex;
    justify-content: space-between; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003813}}
    #footer .copyright > div {
      font-size: 14px;
      font-weight: 400;
      color: #989898; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/flevg\/Desktop\/Media\%20army\/testTask\/sass\/main\.sass}line{font-family:\00003817}}
      #footer .copyright > div > span {
        color: #FFFFFF; }

/*# sourceMappingURL=main.css.map */
