@import "vars"
*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box
	&:focus
		outline: none

*::-webkit-input-placeholder
	color: #c0c0c0
	opacity: 1

*:-moz-placeholder
	color: #c0c0c0
	opacity: 1

*::-moz-placeholder
	color: #c0c0c0
	opacity: 1

*:-ms-input-placeholder
	color: #c0c0c0
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #000
body input:required:valid,
body textarea:required:valid
	color: #000

html,body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

img
	max-width: 100%

.img-responsive
	display: block
	max-width: 100%
	height: auto

section
	padding: 100px 0
	background-color: $separator_primary

#header
	background-color: $bg_primary
	position: fixed
	top: 0
	z-index: 100
	width: 100%
	.inner_header
		display: flex
		align-items: center
		justify-content: space-between
		.logo
			display: block
			width: 164px
			height: 60px
			>img
				width: 100%
		.right_side_header
			display: flex
			align-items: center
			.btn_simple
				padding: 10px 34px
			.mnu_top
				list-style-type: none
				>li
					display: inline-block
					position: relative
					a
						display: inline-block
						text-decoration: none
						font-weight: 500
						color: #000
						transirion: color .4s ease
						padding: 5px 40px 5px 0
						&:hover
							color: $accent
					>.sub_menu
						position: absolute
						top: 35px
						background-color: #fff
						box-shadow: 0 3px 6px rgba(0, 0, 0, .15)
						z-index: 10
						padding: 5px 0
						border-radius: 5px
						animation: .6s opac
						display: none
						>li
							display: block
							padding: 3px 10px
							font-size: 14pxf
					&.has_sub_menu
						&:hover >.sub_menu
							display: block
						&::after
							content: ''
							display: block
							width: 18px
							height: 14px
							background-image: url('../img/header/arrow-down.svg')
							background-size: cover
							background-repeat: no-repeat
							background-position: center
							position: absolute
							top: 10px
							right: 20px

@keyframes opac
	from
		opacity: 0
	to
		opacity: 1

// common style heading
h1,h2,h3,h4
	line-height: 1.3

// common style heading
#top_banner
	background-size: cover
	background-repeat: no-repeat
	background-position: center

//btns

.btn_simple
	color: $label_primary
	background-color: $accent
	border: 1px solid $accent
	font-weight: 600
	padding: 15px 34px
	transition: all .4s ease
	text-decoration: none
	border-radius: 7px
	&:hover
		color: #fff

.btn
	color: #fff
	background-color: $accent
	padding: 14px 40px
	transition: all .4s ease
	text-decoration: none
	border-radius: 24px
	box-shadow: 0 3px 6px rgba(0,0,0, .15)
	&:hover
		background-color: #fff
		color: #111
	&.btn_white
		background-color: #fff
		color: #111
		&:hover
			color: #fff
			background-color: $accent

//btns

//slider

.itc-slider
	position: relative

.itc-slider__wrapper
	overflow: hidden

.itc-slider__items
	display: flex
	transition: transform 0.5s ease
	will-change: transform

.itc-slider__transition-none
	transition: none

.itc-slider__item
	flex: 0 0 100%
	max-width: 100%
	user-select: none

/* кнопки влево и вправо */
.itc-slider__btn
	position: absolute
	top: 85%
	display: flex
	justify-content: center
	align-items: center
	background: rgba(0, 0, 0, 0)
	border: none
	cursor: pointer
	border-radius: 50%
.itc-slider__btn_hide
	display: none
.itc-slider__btn_prev
	left: 5%
.itc-slider__btn_next
	left: 15%

.itc-slider__btn:hover,
.itc-slider__btn:focus
	color: #fff
	text-decoration: none
	outline: 0

.itc-slider__btn::before
	border-radius: 50%
	padding: 25px
	content: ''
	background-repeat: no-repeat
	background-position: center
	border: none
	cursor: pointer
	background-color: #FEC110

.itc-slider__btn_prev::before
	background-image: url('../img/slider/arrow-left.svg')
.itc-slider__btn_next::before
	background-image: url('../img/slider/arrow-right.png')

//slider

#main_banner
	background-color: $bg_quaternary
	padding: 0
	.row
		padding-top: 60px
	.mb_info
		padding-bottom: 30px
		>.notif p
			color: $label_tertiary
			font-size: 41px
			font-weight: 400
			line-height: 1.3
			padding-top: 60px
		>h1
			color: $accent
			font-size: 48px
			font-weight: 400
			margin-top: 10px
		>.descr
			color: #8989a2
			margin: 40px 0
			font-size: 18px
			>.work
				color: $label_secondary
				font-size: 16px
				font-weight: 400
			>.time
				color: $label_tertiary
				font-size: 16px
				font-weight: 400
				padding-bottom: 10px
		>.btns
			display: flex
			align-items: center
			.btn_simple
				margin-bottom: 7px

#advantages
	.line
		height: 1px
		width: 100%
		background-color: $label_secondary
		margin: 56px 0 10px 0
	.notif
		margin: 0 auto
		>p
			font-size: 12px
			font-weight: 700
		img
			width: 26px
			height: auto
			margin-right: 7px
	.heading_main
		max-width: 500px
		margin: 32px auto 48px
	h2
		font-size: 36px
		font-weight: 900
		text-align: center
		margin-bottom: 12px
	.description
		text-align: center
		font-size: 18px
	.row_adv
		.item_adv
			background-color: $separator_primary
			>img
				width: 40px
				height: 40px
				border-radius: 50%
			>.heading
				color: $accent
				font-size: 70px
				font-weight: 400
				margin: 24px 0 16px
			>.descr
				margin-top: 45px
				color: $label_primary
				font-weight: 400
				font-size: 20px
				max-width: 650px
.img-responsive
	margin: 0 auto

#services
	.notif
		>p
			font-size: 64px
			font-weight: 400
			margin: 20px 0
	.item_adv
		padding-bottom: 20px
		padding-right: 20px
		>img
			max-width: 100%
		.items
			background-color: #fff
		.item_btn
			background-color: #fff
		&:hover
			.items
				background-color: $accent
				transition: all .4s ease
				.descr
					color: $bg_primary
					transition: all .4s ease
			.item_btn
				background-color: $accent
				transition: all .4s ease
				.btn_simple
					background-color: $label_primary
					background-image: url('../img/services/white_arrow.svg')
					background-repeat: no-repeat
					background-position: center
					transition: all .4s ease

	.heading
		font-size: 20px
		font-weight: 400
		margin-top: 40px
		margin-left: 40px
	.descr
		margin-left: 40px
		margin-bottom: 40px
	.item_btn
		display: flex
		justify-content: flex-end
		align-items: center
		.btn_simple
			border-radius: 50%
			padding: 20px
			margin-right: 40px
			content: ''
			background-image: url('../img/services/right_arrow.svg')
			background-repeat: no-repeat
			background-position: center

#certificate
	padding-top: 50px
	.heading
		font-size: 25px
		font-weight: 400
		color: $label_primary
		line-height: 1.2
	.descr
		font-size: 16px
		font-weight: 400
		color: $label_primary
		margin-top: 30px
		max-width: 420px
	.img_cert
		padding: 0 40px 40px 0
		max-width: 260px
		>p
			font-size: 21px
			font-weight: 400

#logotype
	background-color: $separator_primary
	.notif
		color: $label_secondary
		font-size: 12px
		font-weight: 700

	.logo
		display: flex
		margin-top: 50px
		.circles
			border: 1px solid $bg_primary
			box-sizing: border-box
			border-radius: 50%
			position: relative
			margin-right: -10px
			display: flex
			justify-content: center
			.circle
				height: 12em
				width: 12em
				display: flex
				align-items: center
				justify-content: center
				filter: grayscale(100%)

#sales
	.notif
		>p
			font-size: 64px
			font-weight: 400
			margin: 20px 0
	.header
		max-width: 420px
		font-size: 45px
		font-weight: 400
		line-height: 1.2
	.descr
		font-size: 16px
		font-weight: 400
		padding: 15px 0
	.link
		display: flex
		justify-content: flex-start
		align-items: center
		.btn_simple
			border-radius: 50%
			padding: 20px
			content: ''
			background-image: url('../img/services/right_arrow.svg')
			background-repeat: no-repeat
			background-position: center
		.prev
			margin-left: 10px
	.slider
		.itc-slider__btn
			border-radius: 50%
		.itc-slider__btn_prev
			left: 69%
		.itc-slider__btn_next
			left: 74%
		.itc-slider
			.itc-slider__btn::before
				background-color: transparent
				border: 1px solid
			.itc-slider__btn:hover
				background-color: #c3c1c1
				transition: all .4s ease
				filter: invert(1)
#reviews
	background-color: $bg_quaternary
	.header
		color: #fff
		font-size: 45px
	.rate
		color: $accent
		font-size: 45px
		display: flex
		justify-content: center
	.averange
		color: $label_secondary
		margin-top: 15px
	.line
		height: 1px
		width: 100%
		background-color: $label_secondary
		margin: 56px 0 10px 0
	.clients
		display: flex
		.client__img
			border: 1px solid $bg_primary
			box-sizing: border-box
			border-radius: 50%
			position: relative
			display: flex
			justify-content: center
			width: 65px
			height: 65px
			margin-left: 40%
			background-color: #fff
			>img
				max-width: 50%
		.client
			display: flex
			justify-content: flex-start
			flex-direction: column
			margin-left: 10px
			line-height: 1.3
			.header
				font-size: 20px
				font-weight: 400
				color: #fff
			.descr
				font-size: 14px
				color: #fff
				font-weight: 400
	.review
		margin-left: 40%
		color: #fff
		margin-top: 10px
	.slider
		.itc-slider__btn
			top: 2%
			border-radius: 50%
		.itc-slider__btn_prev
			left: 87%
		.itc-slider__btn_next
			left: 92%
		.itc-slider
			.itc-slider__btn::before
				background-color: transparent
				border: 1px solid
			.itc-slider__btn:hover
				background-color: #fff
				transition: all .4s ease

// rating

.stars
	overflow: hidden
	margin: 0 auto

.stars:not(:checked) > input
	display: none

.stars:not(:checked) > label
	float: right
	padding: 0
	font-size: 26px
	color: lightgrey
	text-shadow: 1px 1px #bbb

.stars:not(:checked) > label:before
	content: '★'

.stars > input:checked ~ label
	color: gold
	text-shadow: 1px 1px #c60

// rating

#map
	background: linear-gradient(to bottom, $bg_quaternary 57%, $bg_primary 43%)
	padding: 0 0 100 0
	.maps
		display: flex
		flex-direction: row
		.map_left
			width: 40%
			background-color: 	$bg_quaternary
			.map_text
				margin-left: 40px
				.header
					margin-top: 30px
					font-size: 16px
					font-weight: 400
					color: #fff
				.mail
					margin-top: 20px
					font-size: 16px
					font-weight: 400
					color: #fff
					>p
						>a
							text-decoration: none
							color: $accent
				.btn_simple
					margin: 20px 0
					>img
						margin-left: 10px
		.map_right
			width: 60%
		#YMapsID
			-webkit-filter: grayscale(100%)

#consultation
	background-image: url(../img/bg_consultation.png)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	.line
		height: 1px
		width: 100%
		background-color: #fff
		margin: 56px 0 10px 0
	.notif
		margin: 0 auto
		>p
			font-size: 12px
			color: #fff
			font-weight: 700
	.descr
		margin-left: 50%
		>div
			font-size: 23px
			font-weight: 400
			line-height: 1.3
			margin-top: 65px
			color: #fff
		.btn_simple
			margin-top: 40px
			>img
				margin-left: 10px

#advertisement
	background-color: $accent
	padding: 0
	.container
		display: flex
		flex-direction: row
		justify-content: space-between
		>img
			margin-top: 10px
		.mobile_adv
			margin-top: 31px
			>p
				font-size: 21px
				font-weight: 400
			>ul
				list-style: none
				margin-top: 20px
				>li
					padding-left: 20px
					position: relative
				>li:before
					content: '✔'
					position: absolute
					top: 0
					left: 0
					color: $label_primary
		.link_adv
			display: flex
			justify-content: center
			align-items: center

#footer
	background-color: $bg_quaternary
	padding: 60px 0 0
	.row_flex
		display: flex
		flex-wrap: wrap
		.col_footer_1
			width: 35%
		.col_footer_2
			width: 63%
	.mail_info
		>a
			display: block
			margin-bottom: 25px
			color: $accent
		>.descr
			font-size: 12px
			color: $label_secondary
			max-width: 184px
			line-height: 1.65
		.btn_simple
			width: 220px
		.btn_simple_yellow
			margin-top: 20px
			&:hover
				background-color: #fff
				color: $bg_quaternary
				border: 1px solid #fff
		.btn_simple_gray
			margin-top: 5px
			background-color: transparent
			color: #fff
			&:hover
				background-color: #fff
				border: 1px solid #fff
				color: $bg_quaternary
	.mnu_footer
		.heading
			display: flex
			.right_side_heading
				padding: 5px 0 5px 60px
				color: $label_tertiary
			>ul
				list-style-type: none
				>li
					display: inline-block
					position: relative
					a
						display: inline-block
						text-decoration: none
						font-weight: 500
						color: $label_tertiary
						transirion: color .4s ease
						padding: 5px 30px 5px 0
						&:hover
							color: $accent
	.right_side_footer
		display: flex
		justify-content: space-between
		margin-top: 40px
		.mnu_footer
			width: 300px
			.heading
				color: $label_secondary
			.line
				height: 1px
				width: 100%
				background-color: $label_secondary
				margin: 10px 0
			>ul
				list-style-type: none
				>li
					position: relative
					>a
						text-decoration: none
						font-weight: 500
						color: $label_tertiary
						transirion: color .4s ease
						padding: 5px 30px 5px 0
						span
							position: relative
							&:after
								display: block
								position: absolute
								left: 0
								width: 0
								top: 100%
								height: 2px
								background-color: rgb(255, 179, 65)
								content: ""
								transition: width 0.3s ease-out
							&:hover::after
								width: 100%
	.contact_wrapper
		display: flex
		margin-top: 60px
		.col_post_footer_1
			width: 35%
			.social
				list-style-type: none
				margin: 0 auto
				>li
					display: inline-block
					margin-right: 4px
					>a
						display: flex
						align-items: center
						justify-content: center
						text-decoration: none
						height: 60px
						width: 60px
						border: 1px solid #fff
						border-radius: 50%
						&:hover
							background-color: #fff
							transition: all .4s ease
						>img
							filter: invert(1)
							width: 24px
							height: 24px
						&:hover >img
							filter: grayscale(0)
					&:last-child
						margin-right: 0
		.rigth_side_post_footer
			display: flex
			justify-content: space-between
			width: 65%
			.col_post_footer_2
				.header
					color: $label_tertiary
					font-size: 12px
					font-weight: 700
				.descr
					font-size: 14px
					font-weight: 400
					color: $label_secondary
				.phone
					font-size: 14px
					font-weight: 400
					color: $label_secondary
			.col_post_footer_3
				.header
					color: $label_tertiary
					font-size: 12px
					font-weight: 700
				.descr
					font-size: 14px
					font-weight: 400
					color: $label_secondary
				.phone
					font-size: 14px
					font-weight: 400
					color: $label_secondary
	.line
		height: 1px
		width: 100%
		background-color: $label_secondary
		margin: 40px 0
	.copyright
		display: flex
		justify-content: space-between
		>div
			font-size: 14px
			font-weight: 400
			color: $label_secondary
			>span
				color: $label_tertiary
